<div class="navbar navbar-default"> 
  <div class="navbar-header">
    <a routerLink="" class="navbar-brand">My Budget</a>
  </div>
  <ul class="nav navbar-nav">
    <li *ngIf="userAuthenticated"><a routerLink="edit-budget">Edit Budget</a></li>
    <li *ngIf="userAuthenticated"><a routerLink="reader">Reader</a></li>
  </ul>
  <ul class="nav navbar-nav" style="float:right"> 
    <li *ngIf="!userAuthenticated"><a routerLink="login">Login</a></li>
    <li *ngIf="!userAuthenticated"><a routerLink="sign-up">Sign-Up</a></li>
    <li *ngIf="userAuthenticated"><a>Logout</a></li>
  </ul>
</div>