<div class="row">
  <div class="col">
    <form (ngSubmit)="onSubmit()" [formGroup]="budgetForm">
      <div class="form-group">
        
        <label for="group">Group</label>
            <select id="group" class="form-control" formControlName="group">
                <option [ngValue]="null" disabled>Select a group</option>
                <option *ngFor="let g of groups" [ngValue]="g">{{ g.name }}</option>
            </select>

        <label for="title">Title</label>
        <input type="text" class="form-control" formControlName="title">

        <label for="value">Value</label>
        <input type="number" class="form-control" formControlName="value">
        @if (budgetForm.get('value')?.invalid && budgetForm.get('value')?.touched) 
        {<div class="text-danger">Value must be a number</div>}
      </div>

      <button class="btn btn-success" [disabled]="budgetForm.invalid">Add Budget Point</button>
    </form>
  </div>
</div>