<div *ngIf="isAuthenticated">

  <div class="page-title">Ausgaben</div>
  <div class="page-desc">View and manage your Ausgaben </div>
    <div *ngIf="!editMode">
        <div *ngFor="let ausgabenEntry of ausgabenEntries; let i = index">
        <div class="content-bar">
          <div class="itemtitle">{{ ausgabenEntry.group }}</div>
          <div class="itemstock">{{ ausgabenEntry.title }}</div>
          <div class="itemprice">{{ ausgabenEntry.value }} CHF</div>
          <div class="btncontainer">
          <button (click)="onEdit(ausgabenEntry.id)" class="cbbtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button (click)="onDelete(ausgabenEntry.id)" class="cbbtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>

      <!-- Edit mode: show only the entry being edited -->
  <div *ngIf="editMode">
    <div *ngFor="let ausgabenEntry of ausgabenEntries">
      <div *ngIf="ausgabenEntry.id === editingEntryId" class="content-bar">
        <div class="itemtitle">{{ ausgabenEntry.group }}</div>
        <div class="itemstock">{{ ausgabenEntry.title }}</div>
        <div class="itemprice">{{ ausgabenEntry.value }} CHF</div>
        <div class="btncontainer">
          <button (click)="onEdit(ausgabenEntry.id)" class="cbbtn">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button (click)="onDelete(ausgabenEntry.id)" class="cbbtn">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p class="right-p"  *ngIf="!editMode">
    <button class="btn button2" (click)="toggleForm()">
      {{ showForm ? 'X' : 'Add an Object' }}
    </button>
  </p>


  <div *ngIf="showForm" class="enter-container" [class.visible]="showForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="ausgabenForm">
      <div class="form-group">
        <label for="group">Group</label>
        <select id="group" class="form-control" formControlName="group">
          <option [ngValue]="null" disabled>Select a group</option>
          <option *ngFor="let g of groups" [ngValue]="g">{{ g.name }}</option>
        </select>

        <label for="title">Title</label>
        <input type="text" class="form-control" formControlName="title">

        <label for="value">Value</label>
        <input type="number" class="form-control" formControlName="value">
        <div *ngIf="ausgabenForm.get('value')?.invalid && ausgabenForm.get('value')?.touched" class="text-danger">
          Value must be a number
        </div>
      </div>

      <button class="btn btn-success" [disabled]="ausgabenForm.invalid">
        {{ editMode ? 'Update Ausgabe' : 'Add Ausgabe' }}
      </button>
    </form>
  </div>
</div>


