<h2> Welcome to your Budget-Planner</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Group</th>
            <th>Title</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let budgetEntry of budgetEntries; let i = index ">
            <td>{{budgetEntry.group}}</td>
            <td>{{budgetEntry.title}}</td>
            <td>{{budgetEntry.value}}</td>
            <td><button class="btn button3">Edit</button>
                <button (click)="onDelete(i)" class="btn button4">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<p align="right">
  <button class="btn button2" (click)="toggleForm()">
    {{ showForm ? 'Hide' : 'Add an Object' }}
  </button>
</p>

@if (showForm) {
  <div class="enter-container" animate.enter="enter-animation" animate.leave="leaving">
    <app-budget-form></app-budget-form>
  </div>
}