/* ITEM BARS */
.content-bar {
  width: calc(100% - 40px);
  margin: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto 50px; /* title | stock | price | buttons */
  grid-template-rows: 1fr;
}

.enter-container {
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 20px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.enter-container.visible {
  opacity: 1;
  transform: translateY(0);
}

:host {
  display: block;
  height: 200px;
}
.leave-container {
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;   
  transition: opacity 200ms ease-in;
  @starting-style {
    opacity: 0;
  }
}
.leaving {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.btn-success {
    margin-top: 10px;
}

.hidden {
  display: none;
}