/* Light mode (default) */
:root {
  --bg-color: #090116;
  --text-color: #fff;
  --primary-color: #008cff;
  --secondary-color: #737594;
}

/* Apply variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  color: var(--text-color);
}

/* Make all toasts bigger */
.ng-toast {
  font-size: 18px !important;       /* larger text */
  padding: 20px 25px !important;    /* more space */
  border-radius: 8px !important;    /* rounded corners */
  max-width: 500px !important;      /* optional, wider toast */
}