.page-container {
  display: flex;
  justify-content: flex-end; /* pushes chart to the right */
  align-items: flex-start;   /* optional vertical alignment */
  width: 100%;
}

.chart-wrapper {
  max-width: 380px;          
  margin: 35px;
}
