<div *ngIf="isAuthenticated">

  <div class="page-title">Expenses</div>
  <div class="page-desc">View and manage your Expenses </div>
    <div *ngIf="!editMode">
        <div *ngFor="let expenseEntry of expenseEntries; let i = index">
        <div class="content-bar">
          <div class="itemtitle">{{ expenseEntry.group }}</div>
          <div class="itemstock">{{ expenseEntry.title }}</div>
          <div class="itemprice">{{ expenseEntry.value }} CHF</div>
          <div class="btncontainer">
          <button (click)="onEdit(expenseEntry.id)" class="cbbtn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button (click)="onDelete(expenseEntry.id)" class="cbbtn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>

      <!-- Edit mode: show only the entry being edited -->
  <div *ngIf="editMode">
    <div *ngFor="let expenseEntry of expenseEntries">
      <div *ngIf="expenseEntry.id === editingEntryId" class="content-bar">
        <div class="itemtitle">{{ expenseEntry.group }}</div>
        <div class="itemstock">{{ expenseEntry.title }}</div>
        <div class="itemprice">{{ expenseEntry.value }} CHF</div>
        <div class="btncontainer">
          <button (click)="onEdit(expenseEntry.id)" class="cbbtn">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button (click)="onDelete(expenseEntry.id)" class="cbbtn">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p class="right-p"  *ngIf="!editMode">
    <button class="btn button2" routerLink="/groups"> Edit Groups</button>
    <button class="btn button2" (click)="toggleForm()">
      {{ showForm ? 'X' : 'Add an Object' }}
    </button>
  </p>


  <div class="enter-container" [class.visible]="showForm">
    <div *ngIf="showForm">
      <form (ngSubmit)="onSubmit()" [formGroup]="expenseForm">
        <div class="form-group">
          <label for="group">Group</label>
          <select id="group" class="form-control" formControlName="group">
            <option [ngValue]="null" disabled>Select a group</option>
            <option *ngFor="let g of groupEntries" [ngValue]="g">{{ g.groupName }}</option>
          </select>

          <label for="title">Title</label>
          <input type="text" class="form-control" formControlName="title">

          <label for="value">Value</label>
          <input type="number" class="form-control no-arrows" formControlName="value">
          <div *ngIf="expenseForm.get('value')?.invalid && expenseForm.get('value')?.touched" class="text-danger">
            Value must be a number
          </div>
        </div>

        <button class="btn btn-success" [disabled]="expenseForm.invalid">
          {{ editMode ? 'Update Expense' : 'Add Expense' }}
        </button>
      </form>
    </div>  
  </div>
</div>


