button{
    margin-left: 10px;
}

:host {
  display: block;
  height: 200px;
}

.enter-container {
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 20px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.enter-container.visible {
  opacity: 1;
  transform: translateY(0);
}

:host {
  display: block;
  height: 200px;
}
.leave-container {
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;   
  transition: opacity 200ms ease-in;
  @starting-style {
    opacity: 0;
  }
}
.leaving {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.btn-success {
    margin-bottom: 10px;
}

.hidden {
  display: none;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.no-arrows[type=number] {
  -moz-appearance: textfield !important;
}

.no-arrows {
  appearance: textfield !important;
}